body {
    background-color: #1B1212;
    color: #000;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#container {
    width: 70%;
    border: 1px solid black;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#container h1 {
    font: 25px;
}

#cabecera {
    display: flex;
    gap: 2px;
    padding: 20;
    box-sizing: border-box;
    background: brown;
    color: white;
    text-align: center;
    width: 100%;
}

#cabecera #logo{
    height: 50px;
    width: 50px;
    border-radius: 10px;
    object-fit: cover;
}

#post {
    padding: 20px;
    height: 20%;
    background-color: #FFF;
}

#footer {
    padding: 5px;
    color: white;
    background-color: #000;
    width: 100%;
    text-align: center;
}
